.sidebar {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: #1c1e21;
  position: fixed;
  top: 60px;
  left: 0;
  padding-top: 20px;

  border-right: 0.5px solid #444242;
}

.profile {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #2a2a2a;
  position: relative;
  border-radius: 10px;
  height: 550px;
}
.cover-picture {
  width: 100%;
  height: auto;
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
}

.username {
  position: absolute;
  top: 57%;
  font-size: 25px;
  font-weight: 600;
}
.follower {
  position: absolute;
  top: 55%;
  font-size: 20px;
  font-weight: 600;
  left: 6%;
}
.following {
  position: absolute;
  top: 55%;
  font-size: 20px;
  font-weight: 600;
  right: 6%;
}
.introduce {
  position: absolute;
  top: 75%;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
.button {
  position: absolute;
  top: 87%;
  font-size: 14px;
  background: linear-gradient(to bottom, #474747, #504d4d);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 40%;
  cursor: pointer;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.img {
  margin-top: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}
.username {
  margin-top: 40px;
}

.sidebar li p {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.title {
  text-decoration: none;
  color: white;
}

/* Make links responsive on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    max-width: 280px;
  }
  .sidebar li {
    padding-left: 10px;
  }
  .link {
    font-size: 0.9rem;
  }
}
