html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--container-bg);
  font-family: "Quicksand", sans-serif;
}

.container {
  display: flex;
  flex: 1;
  gap: 16px;
  padding: 16px;
  min-height: 100vh;
  background-color: var(--container-bg);
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
}

.left-column,
.middle-column,
.right-column {
  background-color: var(--column-bg);
  color: var(--text-color);
  padding: 16px;
  min-height: 100vh;
}

.left-column {
  width: 450px;
}

.right-column {
  width: 250px;
  position: fixed;
  top: 55px;
  z-index: 1000;
  right: 0;
  overflow-y: auto;
  border-left: 0.5px solid var(--border-color);
}

.middle-column {
  flex: 1;
  max-width: calc(100% - 600px);
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-right: 100px;
}

.sidebar-wrapper,
.postlist-wrapper {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--text-color);
}

@media (max-width: 1600px) {
  .left-column {
    display: none;
  }
  .middle-column {
    max-width: calc(100% + 200px);
  }
}

@media (max-width: 1450px) {
  .left-column,
  .right-column {
    display: none;
  }
  .middle-column {
    flex: 1;
  }
}
