.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left-column,
.middle-column,
.right-column {
  background-color: var(--post-bg);
  color: var(--text-color);
  padding: 16px;
  min-height: 100vh;
}

.left-column {
  width: 350px;
}

.middle-column {
  flex: 1;
  max-width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  padding-right: 250px;
}
.right-column {
  width: 250px;
  position: fixed;
  top: 55px;
  z-index: 1000;
  right: 0;
  overflow-y: auto;
  border-left: 0.5px solid var(--border-color);
}

@media (max-width: 1600px) {
  .left-column {
    display: none;
  }
  .right-column {
    display: none;
  }
  .middle-column {
    padding-right: 100px;
  }
}
